<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ viewTitle }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="main-content">
  <calendar
            [eventSource] = "eventSource" 
            [calendarMode] = "calendar.mode"
            [currentDate] = "calendar.currentDate"
            [locale] = "calendar.locale"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged) = "onViewTitleChanged($event)"
            (onTimeSelected) = "onTimeSelected($event)"
            step = "30"
            class = "calendar">
  </calendar>
  <ion-list>
    <ion-item-sliding *ngFor="let test of tests | async">
      <button ion-item color = "danger">
          <h2 style="text-align: center"> Prova de {{test.name}} </h2>
      </button>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items | async">
      <button ion-item>
          <h2> Aula de {{item.name}} </h2>
          <p> {{item.start}} - {{item.end}}</p>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>
