<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center">{{viewTitle}}</ion-title>
    <ion-buttons start>
        <button icon-only="" ion-button="" (click) = "today()"><span class="button-inner">
            <ion-icon name="ios-arrow-dropdown" role="img" class="icon icon-ios" aria-label="ios-arrow-dropdown"></ion-icon>
          </span><div class="button-effect"></div></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding class="content">
    <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col>
                <img (click) = "calendar()" src="assets/img/circle.png" style="margin-top: -20px; margin-left: -35px"/>
                <span (click) = "calendar()" *ngIf="date.getDate() > 9"  style="position: absolute; margin-top: 15px; margin-left: -70px; font-size: 35px">{{date.getDate()}}</span>
                <span (click) = "calendar()" *ngIf="date.getDate() < 10"  style="position: absolute; margin-top: 15px; margin-left: -65px; font-size: 35px">{{date.getDate()}}</span>
              </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-list>
        <ion-item *ngFor="let test of tests | async">
            <ion-avatar item-start>
              <ion-icon name="ionic" item-end color="#ff0000"></ion-icon>
            </ion-avatar>
            <ion-label> {{test.name}}
                <p> {{test.start}} - {{test.end}}</p>
            </ion-label>
        </ion-item>

        <ion-item *ngFor="let item of items | async">
            <ion-avatar item-start>
                <ion-icon name="ionic" item-end color="primary"></ion-icon>
            </ion-avatar>
            <ion-label><h2> Aula de {{item.name}} </h2>
              <p> {{item.start}} - {{item.end}}</p></ion-label>
        </ion-item>

        <ion-item *ngFor="let event of events | async">
            <ion-avatar item-start>
                <ion-icon name="ionic" item-end color="#ccff00"></ion-icon>
            </ion-avatar>
            <ion-label><h2>{{event.name}} </h2>
              <p> {{event.start}} - {{event.end}}</p></ion-label>
        </ion-item>
      </ion-list>
</ion-content>
